/* =========================================
   LAYOUT RESPONSIVO
   Imagen + Opciones + Panel
   ========================================= */

/* =========================================
   MÓVIL GRAL.
   ========================================= */

@media screen and (max-width:1023px) {

  #image-cell {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .fixed-width2 {
    display: flex;
    align-items: center;
    justify-content: center;
  }

   OPCIONES CONTROLADAS
   ========================================= */
  #options-cell {
    overflow: hidden;
  }

  .options {
    overflow-y: auto;
    max-height: 100%;
  }

  .options li {
    word-break: break-word;
  }
}

/* ===============================
   VISTA HORIZONTAL
   =============================== */

@media screen and (max-width:1023px) and (orientation: landscape) {
  .fila-principal {
    display: table-row;
  }

.container table tr:nth-child(1) {
    height: 20%;
    min-height: 60px;
  }

   .usuario {
  margin-top: 2px;
  margin-bottom: 4px;
}
.question {
  margin-bottom: 2px;
}
}

/* ===============================
   VISTA VERTICAL
   =============================== */

@media screen and (max-width:1023px) and (orientation: portrait) {

  /* Convertimos la fila en layout vertical */
  .fila-principal {
    display: flex;
    flex-direction: column;
    width: 100%;
  }


  /* Ordenamos los elementos de la fila (ahora encolumnados) */
  #options-cell {
    order: 1;
    width: 100%;
  }
#image-cell {
  order: 2;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

  /* Manejamos tamaño de la imagen */
.fixed-width {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fixed-width2 {
  width: 55%;
  max-width: 260px;
  max-height: 35vh;
  margin: 0 auto;
}

   .usuario {
  margin-top: 2px;
  margin-bottom: 6px;
}
.question {
  margin-bottom: 2px;
}
}
