/* =============================
   Adaptadores de diseño
   ============================= */


/* =========================================
   MÓVILES (GENERAL)
   Quitar aspect-ratio y ocultar header
   ========================================= */

@media screen and (max-width: 1023px) {

  /* Quitar proporción fija */
  table {
    aspect-ratio: auto;
  }

  /* Ocultar celda de título */
  .title-cell {
    display: none;
  }

}


/* =========================================
   MÓVIL HORIZONTAL (fullscreen real)
   ========================================= */

@media screen and (max-width: 1023px) and (orientation: landscape) {

  .container {
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    margin: auto;
    border: none;
  }

  table {
    width: 100%;
    height: 100%;
  }

}

/* =========================================
   MÓVIL VERTICAL
   (por ahora solo ancho completo)
   ========================================= */

@media screen and (max-width: 1023px) and (orientation: portrait) {

  .container {
    width: 100vw;
    max-width: 100vw;
    margin: 0;
  }

}