/* =============================
   Adaptadores de diseño
   ============================= */

/* Landscape móviles */
@media screen and (max-width: 900px) and (orientation: landscape) {
  .container {
    max-width: 95vw;
  }

  table {
    aspect-ratio: 7 / 4;
  }
}

/* Landscape más angostos */
@media screen and (max-width: 600px) and (orientation: landscape) {
  .container {
    max-width: 100vw;
  }
}

/* Portrait móviles */
@media screen and (max-width: 600px) and (orientation: portrait) {
  .container {
    max-width: 100vw;
  }
}

/* =============================
   Ocultar header en móviles
   ============================= */

@media screen and (max-width: 900px) {

  .title-cell {
      display: none;
  }

}