        .piece {
            width: 82px; /* Ajustar según el tamañodela imageny el número de piezas */
            height: 82px; /* Ajustar según el tamañodela imageny el número de piezas */
            background-size: 410px 410px; /* Ajustarsegún el tamaño de la imagen */
            cursor: pointer;
            box-sizing: border-box;
            border: 1px solid #333;
        }

        .piece.selected {
            box-shadow: 0 0 10px 5px rgba(0, 0, 255, 0.5);
            transform: scale(1.1);
            z-index: 1;
        }

        .empty {
            background: none;
            border: none;
        }

/* ================= MOBILE BASE ================= */
@media screen and (max-width:1023px){
    .piece{
        width:20%;
        height:20%;
        background-size:500% 500%;
    }
}
